{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Porfolio projet {% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block head%}
    {% endblock head %}
</head>
<body>
    
    <header class="navigation-header">
        <ul class="nav-menu">
            <li> <a href="{% url 'home' %}">BmC</a></li>
            <li> <a href="{% url 'home' %}">Accueil </a> </li>
            <li> <a href="{% url 'contact' %}">A propos</a> </li>
        </ul>
    </header>


    <main>
        {% block content %}
      
        {% endblock content %}
    </main>
    
    {% block content_js %}
    {% endblock content_js %}
</body>
</html>